<%- include("includes/head.ejs") %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0 ) { %>
            <% for (let p of prods) {%>
            <div class="grid">
                <article class="card product-item">
                    <header class="card_header">
                        <h1 class="product_title"><%=p.title %></h1>
                    </header>
                    <div class="card_image">
                        <img src="" alt="">
                    </div>
                    <div class="card_content">
                        <h2 class="product_price"></h2>
                        <p class="product_description">A very interesting book</p>
                    </div>
                    <div class="card_actions">
                        <button class="ch">Add to Cart</button>
                    </div>
                </article> 
            </div>
            <% } %>
        <% } else {%>    
            <h1>No Product found</h1>
        <% } %>    

    </main>
</body>
</html>